* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:2.5vh;
    height:100%;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width:133vh;
}

.ui-page {
    background-color:#ddd;
}

#body {
    background-color:rgba(255, 255, 255, 0.5);
    height:100vh;
    margin:0 auto;
	width:133vh;
	/*position:relative;*/
	/*http://stackoverflow.com/questions/12632125/inner-divs-margin-affecting-containing-divs-margin*/
	overflow:auto;
	overflow-x:hidden;
}

#bucket {
	display:none;
}
.overflow {
	overflow:hidden;
}
.home-button {
	width:9vh;
	position:absolute;
	bottom:0;
	right:0;
}
.next-button {
	width:9vh;
	position:absolute;
	bottom:0;
	left:0;
}
.smile {
	background-image:url('../image/emoticons.svg');
	background-size:25vh 15vh;
	width:5vh;
	height:5vh;
}
.smile-0 { background-position:0vh 0vh; }
.smile-1 { background-position:5vh 0vh; }
.smile-2 { background-position:10vh 0vh; }
.smile-3 { background-position:15vh 0vh; }
.smile-4 { background-position:20vh 0vh; }
.smile-5 { background-position:0vh 5vh; }
.smile-6 { background-position:5vh 5vh; }
.smile-7 { background-position:10vh 5vh; }
.smile-8 { background-position:15vh 5vh; }
.smile-9 { background-position:20vh 5vh; }
.smile-10 { background-position:0vh 10vh; }
.smile-11 { background-position:5vh 10vh; }
.smile-12 { background-position:10vh 10vh; }
.smile-13 { background-position:15vh 10vh; }
.smile-14 { background-position:20vh 10vh; }


#menu-menu {
	width:104vh;
	margin:10vh auto;
}
#menu-menu img {
	width:50vh;
	height:25vh;
	margin:1vh;
}
#menu-visits {
	width:9vh;
	position:absolute;
	bottom:0;
	left:0;
	text-align:left;
}
#menu-settingsEdit {
	width:9vh;
	position:absolute;
	bottom:0;
	right:0;
}

#settingsEdit-content table {
    border-collapse: collapse;
}
#settingsEdit-content th, #settingsEdit-content td {
    border: 1px solid black;
}
#settingsEdit-content input {
	display:block;
	width:100%;
}
#chooseByEar-letters { 
	width:133vh;
	text-align:center;
	height:56vh;
	margin:22vh 0;
}

#chooseByEar-letters img {
	border:1vh solid gray;
	width:38vh;
	margin:2vh;
}

#chooseByEar-letters img.bad {
	background:#a00;
}

#chooseByEar-letters img.good {
	background:#afa;
}

#learnDraw-canvasWrapper {
	margin:6vh 33.5vh;
	height:88vh;
	width:66vh;
	position:relative;
}
#learnDraw-canvas {
	position:absolute;
	top:0;
	left:0;
	height:88vh;
	width:66vh;
	z-index:2
}
#learnDraw-letter {
	position:absolute;
	top:0;
	left:0;
	height:88vh;
	width:66vh;
	z-index:3;
	pointer-events:none;
}
#learnDraw-marker {
	position:absolute;
	z-index:4;
	pointer-events:none;
}