* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:2.5vh;
    height:100%;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width:133vh;
}

.ui-page {
    background-color:#ddd;
}

#body {
    background-color:rgba(255, 255, 255, 0.5);
    height:100vh;
    margin:0 auto;
	width:133vh;
	/*position:relative;*/
	/*http://stackoverflow.com/questions/12632125/inner-divs-margin-affecting-containing-divs-margin*/
	overflow:auto;
	overflow-x:hidden;
}

#bucket {
	display:none;
}
.overflow {
	overflow:hidden;
}
.back-button {
	width:9vh;
	position:absolute;
	bottom:0;
	right:0;
}

#menu-menu img {
	width:60vh;
	margin:1vh;
}
#menu-visits {
	width:9vh;
	position:absolute;
	bottom:0;
	left:0;
	text-align:left;
}

#chooseByEar-letters { 
	width:133vh;
	text-align:center;
	height:56vh;
	margin:22vh 0;
}

#chooseByEar-letters img {
	border:1vh solid gray;
	width:38vh;
	margin:2vh;
}

#chooseByEar-letters img.bad {
	background:#a00;
}

#chooseByEar-letters img.good {
	background:#afa;
}
